@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body {
    margin: 0;
    padding: 0;
}

.btn-menu {
    font-size: 25px;
    color: rgb(194, 194, 194);
    cursor: pointer;
    display: none;
}

.lbcreden {
    color: white;
    font-family: 'Patua One', cursive;
    margin-left: 15%;
}

.user {
    margin-left: 5%;
    border: solid 1px #f4d914;
    background: transparent;
    color: #f4d914;
    padding: 5px;
    cursor: pointer;
}


/*nav*/

nav {
    background-color: #000000;
    width: 100%;
    height: 15%;
    position: fixed;
    top: 0;
    display: flex;
    /*border: solid 2px black;*/
    align-items: center;
    justify-content: space-between;
    z-index: 30000000;
}

    nav img {
        margin-left: 10%;
    }

    nav .lista {
        list-style: none;
    }

        nav .lista li {
            display: inline-block;
            margin: 12px;
        }

            nav .lista li a {
                text-decoration: none;
                color: rgb(194, 194, 194);
                padding: 4px;
                border-radius: 10%;
                transition: ease 0.31s;
                font-family: 'Patua One', cursive;
            }

                nav .lista li a:hover {
                    text-decoration: none;
                    color: #f4d914;
                    background-color: rgba(255, 255, 255, 0.35);
                    transition: ease 0.31s;
                }

.btn-menu {
    font-size: 25px;
    color: rgb(194, 194, 194);
    cursor: pointer;
    display: none;
}

nav .lista.show {
    top: 70px;
}

@media (max-width: 777px) {
    nav {
        justify-content: space-between;
        z-index: 30000000;
        background-color: #000000;
    }

        nav .lista {
            display: flex;
            position: fixed;
            width: 100vw;
            height: calc(100%);
            background: #000000;
            top: -100vh;
            text-align: center;
            transition: all .4s;
            flex-direction: column;
            z-index: 1;
        }

            nav .lista li {
                margin: 30px 0 0 0;
                line-height: 30px;
            }

        nav img {
            width: 25%;
            margin-left: 10%;
        }

    section {
        background-position: center;
    }

        section .content h2 {
            font-size: 40px;
        }

    .btn-menu {
        display: inline-flex;
        margin-right: 10%;
    }
}
